doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/public/css/style.css")
    body
        header
            h1 냠
        main
            div#welcome
                form    
                    input(placeholder="방들어가기", required, type="text")
                    button 방들어가기
            div#call
                div#myStream
                    div.cmr
                        video#myFace(autoplay,playsinline, width="400", height="400")
                        div.bttn
                            button.btn#mute 소리끄기
                            button.btn#camera 카메라 끄기
                            select#cameras
                    div.cmr
                        video#peerFace(autoplay,playsinline, width="400", height="400")

                div#chattt
                    ul
                    input(placeholder="내용을 입력하세요.", required, type="text")
                    button 보내기
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 