doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 놈
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 놈
        main
            div#welcome
                form
                    input(placeholder="채팅방을 입력해주세요.", required, type="text")
                    button 방들어가기
                h4 개설된 채팅방:
                ul
            div#room
                h3
                form#nick
                    input(placeholder="별명변경", required, type="text")
                    button 수정                
                ul
                form#msg
                    input(placeholder="보낼메시지", required, type="text")
                    button 보내기
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 